<div *ngIf="'ok' == alert.error" class="alertx alertx-success">
  &nbsp;  {{alert.message}}
</div>


<div *ngIf="'ok' != alert.error">

	<div class="form-element-row">
		<label for="to">To</label> 
		<select [(ngModel)]="recipient"	class="" style="max-width: 30%;">
			<option *ngFor="let recip of recipients" [ngValue]="recip">{{recip.displayName}}</option>
		</select>
	</div>
	
	<div class="form-element-row">
		<label for="subject">Subject</label> 
		<input type="text" name="subject" id="subject" [(ngModel)]="subject" class="size-l"  />
	</div>
	
	<div class="form-element-row">
		<label for="msg">Message</label>
		<textarea rows="6" cols="10" name="msg" id="msg" [(ngModel)]="msg" class="size-l"></textarea>
	</div>
	
	<div class="form-element-row">
		<div class="btn-row clean-row align-left">
			<ul>
				<li>
					<a (click)="sendMsg()" class="btn-base coloured" style="cursor: pointer;"><span>Send</span></a>
				</li>
		    </ul>
	    </div>
	</div>
	
	
</div>

