form-control select {
	width: 400px;
}

.alertx {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alertx-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alertx-success hr {
  border-top-color: #c9e2b3;
}
.alertx-success .alert-link {
  color: #2b542c;
}

.alertx-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alertx-danger hr {
  border-top-color: #e4b9c0;
}
.alertx-danger .alertx-link {
  color: #843534;
}
